# Server running port
SERVER_PORT = 80

# To get error message through email (optional)
TO_EMAIL = "balapradeepbala@gmail.com"

# OpenAI key
OPENAI_KEY_BACKUP = "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"
OPENAI_KEY = "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"

# Stripe api key & webhook secret
STRIPE_SECRET_KEY = "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"
STRIPE_WEBHOOK_SECRET = "whsec_LDVcYF6JFj3TTAUACEESTYathce3Yeeg"

# STRIPE_SECRET_KEY_TEST = "sk_test_51Ogd0oGZeOMzbUq8tkzgcup94IVYNmBlJiwxlMOm15NNwkYrN55Wp9qlgzriEG0sq5jJjJKFEJRcbiaNnvMSjUC200yNI4fqUv"
# STRIPE_TEST_KEY: "sk_test_51MpuWxJXZfzsQ69oS3ObuEVBT3DP0B4CyVJLNfl0tNAQeXCY3kobcY1hkPfWiZgUmqMA15wVZqP4wkpnWEoziVB000l2HqLtEQ"
# STRIPE_WEBHOOK_SECRET_TEST = "whsec_vhbXUILkS2uUVY1zJUc9CnZAAxJCcUIC"

# Stripe free shipping threshold limit in $
FREE_SHIPPING_THRESHOLD = 100

# Mongo DB connection string
MONGO_URL = 'mongodb+srv://drop_admin:redgreenblue@drophousecluster.xgfbxeg.mongodb.net/?retryWrites=true&w=majority'

# Aws - s3 bucket to generate presign url & upload image to bucket
AWS_ACCESS_KEY_ID="AKIAZB56DPFBSV7OUWEN"
AWS_SECRET_ACCESS_KEY="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"

# Email service key
SENDGRID_API_KEY="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"

# Printful api key
PRINTFUL_PRIVATE_TOKEN = "enqNKad80YufolET9Hphm0NSITpDnEJRMP5P1Zyf"

# session secret 
SESSION_SECRET = "racetreeglassmouseflannel"

# Student module redirect url
STUDENT_FRONTEND_DOMAIN = "https://drophouse-student.rose-hulman.edu"

# Jwt key
JWT_SECRET_KEY = "o8zuIW_9B9bL6D5dR2Ol64NBGKlKUdizkknj2otd8cI="

# Redirect to demo site
DEMO_FRONTEND_DOMAIN = "https://demo.drophouse.ai"

# To enable the image generation & time taken analysis
RECORD_ANALYSIS = True

# Database - connection
DB_ENV = "dev"

# Redis DB connection string
REDIS_URL ="redis://default:1c349f036ccd4a3e8984b110cb099ed5@fly-misty-butterfly-6029.upstash.io:6379"

# Unknow but used in deploy.ps1
DATA_API= "tiWwCOTcEVvlSoNeEHs86RG3JMEoCL43xnlVOnlP3sjWpwhEEOcS35iaUDfMqGoq"